.form-contact{
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-contact input,
.form-contact textarea{
    margin: 0px;
    width : 500px;
    border: 3px solid #202020;
    background: #20202048;
    padding-left: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: 17px;
    color: #ffb92c;
    /* color: #a6a3a3; */
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box;
}

.form-contact input::placeholder,
.form-contact textarea::placeholder{  /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffb92c; 
    opacity: .5;
}

input:hover::placeholder,
textarea:hover::placeholder {  /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #202020; 
    opacity: .5;
}
input:hover:-ms-input-placeholder {  /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #202020; 
    opacity: 5;
}
input:hover::-ms-input-placeholder {  /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #202020; 
    opacity: .5;
}

.form-contact input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: #ffb92c; 
    opacity: .5;
}

.form-contact input::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffb92c; 
    opacity: .5;
}

.form-title{
    margin-bottom: 30px;
}

.form-contact input{
    border-bottom: none;
    height: 50px;
}

.form-contact textarea{
    border-bottom: none;
    height: 240px;
    max-width: 500px;
    max-height: 240px;
}

.form-contact input[type="submit"]{
   margin-bottom: 30px;
   border-bottom: 3px solid #202020;
}

/* .form-contact textarea{
    height: 100px;
    width: 300px;
} */

input:hover {
    background: #ffb92c59 ;
    color: #202020;
  }

textarea:hover {
    background: #ffb92c59;
    color: #202020;
  }